.line {
    border-radius: 12px;
    background: #1c384a;
    stroke:1px solid #29475B;
    height: 24px;
    overflow: hidden;
    border: 1.50px solid #29475b;
}

.activeLine {
    border-radius: 12px;
    background: linear-gradient(180deg, #369bdf 0%, #113c59 100%);;
    stroke:1px solid #29475B;
    height: 24px;
    border: 1.50px solid #29475b;
}