.card {
    backdrop-filter: blur(20px);
    background: rgba(48, 98, 131, 0.3);
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    height: clamp(4.75rem, -1.75rem + 16vh, 7.25rem);; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
        width: clamp(1.3125rem, 0.5rem + 2vh, 1.625rem);;
    }
}

.title {
    font-weight: 700;
    font-size: clamp(1.25rem, -0.7rem + 4.8vh, 2rem);
    text-align: right;
    color: #dfebf2;
}

.subTitle {
    font-weight: 500;
    font-size: clamp(0.75rem, 0.1rem + 1.6vh, 1rem);;
    text-align: right;
    color: #dfebf2;
}

.active {
    background: rgba(63, 161, 226, 0.7);;
}