.list {
    display: flex;
    flex-direction: column;
    gap:37px;
    margin-bottom: 100px;
}

.title {
    font-weight: 800;
    font-size: 24px;
    text-align: center;
    color: #dfebf2;
    margin: 32px 0;
    text-align: center;
    width: 100%;
    justify-content: center;
    display: flex;
}