.title {
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    color: #dfebf2;
    margin-bottom: 30px;
    margin-top: 7vh;
}

.link {
    backdrop-filter: blur(20px);
    background: rgba(48, 98, 131, 0.3);
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border-radius: 10px;

    & .button {
        border-radius: 8px;
        padding: 12px 0;
        width: 89px;
        height: 43px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        background: #29475b;
        text-align: center;
        color: #dfebf2;
    }

    & input {
        font-weight: 500;
        font-size: 16px;
        text-align: start;
        color: #9fbacc;
        background: none;
        border:none;
        outline: none;
        height: 45px;
    }

    & .buttons {
        display: flex;
        flex-direction: column;
        gap:5px;
    }
}