.menu {
    display: flex;
    gap: 8px;
    position: absolute;
    z-index: 1000;
    bottom:10px;
    left:50%;
    color:#fff;
    transform: translate(-50%);

    & .item {
        border-radius: 8px;
        padding: 12px;
        width: auto;
        display: flex;
        flex-direction: column;
        gap:2px;

        backdrop-filter: blur(20px);
        background: rgba(48, 98, 131, 0.6);
        color:#fff;
        
        & img {
            height: 10vw;
            width: auto;
        }
    }
}